*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

body{
    background-color: #c7d9d9;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header img{
    position: relative;
    top: 15px;
    margin: 0 10px;
    width: 100px;
}

header h1{
    text-align: center;
    padding: 25px;
}

main{
    width: 100%;
}

.container{
    width: 50%;
    min-width: 700px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);
    border-radius: 25px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.imc-calculator{
    width: 90%;
    padding: 50px 25px;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.imc-calculator .sex{
    display: inline-block;
    padding: 25px 15px;
}

.sex img{
	width: 100px;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 100%;
    transition: 0.5s;
}

.sex img:hover{
    border: 3px solid #00be78;
    border-radius: 100%;
    cursor: pointer;
}

.imc-calculator label{
    display: inline-block;
    font-size: 16px;
    width: 75%;
}

.imc-calculator input{
    -webkit-appearance: none;
    display: inline-block;
    width: 85%;
    height: 15px;
    margin: 10px auto;
    border-radius: 5px;
    background: #cccccc;
}

.imc-calculator input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    background: #04AA6D;
    cursor: pointer;
}

.imc-calculator input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    background: #04AA6D;
    cursor: pointer;
}

.imc-calculator button{
    display: inline-block;
    font-size: 16px;
    width: 50%;
    height: 50px;
    margin: 25px auto 0;
    background: #04AA6D;
    border-radius: 10px;
    border: 1px solid #04AA6D;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}

.imc-calculator button:hover{
    display: inline-block;
    font-size: 16px;
    width: 50%;
    height: 50px;
    margin: 25px auto 0;
    background: #00be78;
    border-radius: 10px;
    border: 1px solid #00be78;
    color: #ffffff;
    cursor: pointer;
}

.result{
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}

#information-off{
    width: 80%;
    background: #ffffff;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #04AA6D;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#information-off h2{
    margin-bottom: 10px;
    font-size: 32px;
    color: #04AA6D;
    text-align: center;
}

#information-off p{
    font-size: 16px;
    color: #04AA6D;
    text-align: center;
}

#information-on{
    width: 80%;
    background: #ffffff;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #04AA6D;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#information-on h2{
    margin-bottom: 10px;
    font-size: 32px;
    color: #04AA6D;
    text-align: center;
}

#information-on .result-imc{
    font-size: 24px;
    color: #04AA6D;
    text-align: center;
}

#information-on .info-extra{
    font-size: 16px;
    width: 85%;
    margin: 10px auto 0;
    text-align: center;
}

#imc-bar{
    -webkit-appearance: none;
    display: inline-block;
    width: 100%;
    height: 10px;
    margin: 10px auto;
    border-radius: 5px;
    background: rgb(0,255,255);
    background: -moz-linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(0,255,0,1) 25%, rgba(255,255,0,1) 50%, rgba(255,101,0,1) 75%, rgba(255,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(0,255,0,1) 25%, rgba(255,255,0,1) 50%, rgba(255,101,0,1) 75%, rgba(255,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(0,255,0,1) 25%, rgba(255,255,0,1) 50%, rgba(255,101,0,1) 75%, rgba(255,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffff",endColorstr="#ff0000",GradientType=1);
}

#imc-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #04AA6D;
}

#imc-bar::-moz-range-thumb{
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #04AA6D;
}

footer{
    text-align: center;
    color: #000000;
    padding: 25px;
}

footer img{
    width: 25px;
    margin: 5px 2px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-button{
    width: 0px;
    height: 0px;
}

@media screen and (max-width:1000px) {
    body{
        background-image: url(images/bg1000.jpg);
    }

    header{
        background: rgb(199,217,217);
        background: -moz-linear-gradient(180deg, rgba(199,217,217,1) 0%, rgba(199,217,217,0.75) 100%);
        background: -webkit-linear-gradient(180deg, rgba(199,217,217,1) 0%, rgba(199,217,217,0.75) 100%);
        background: linear-gradient(180deg, rgba(199,217,217,1) 0%, rgba(199,217,217,0.75) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c7d9d9",endColorstr="#c7d9d9",GradientType=1);
    }

    header h1{
        font-size: 27px;
        text-shadow: 0px 0px 5px #ffffff;
    }

    header img{
        width: 80px;
    }

    main .container{
        width: 97%;
        min-width: auto;
        background-color: rgba(255, 255, 255, 0.95);
    }

    .imc-calculator input{
        width: 100%;
    }

    #calculate-imc{
        width: 100%;
    }

    .result{
        width: 100%;
    }

    #information-off{
        width: 90%;
    }

    #information-on{
        width: 90%;
    }

    #information-on h2{
        font-size: 24px;
    }

    #information-on .result-imc{
        font-size: 20px;
    }

    #information-on .info-extra{
        width: 100%;
    }

    footer{
        width: 100%;
        padding: 10px 0;
        background: rgb(199,217,217);
        background: -moz-linear-gradient(0deg, rgba(199,217,217,1) 0%, rgba(199,217,217,0.75) 100%);
        background: -webkit-linear-gradient(0deg, rgba(199,217,217,1) 0%, rgba(199,217,217,0.75) 100%);
        background: linear-gradient(0deg, rgba(199,217,217,1) 0%, rgba(199,217,217,0.75) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c7d9d9",endColorstr="#c7d9d9",GradientType=1);
    }

    footer p{
        font-weight: bold;
        font-size: 17px;
        text-shadow: 0px 0px 5px #ffffff;
        padding: 10px;
    }

    footer img{
        width: 50px;
    }
}